<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a routerLink="/" class="navbar-brand">Főoldal</a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link">Admin</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
        </div>
      </nav>
    </div>
  </div>

</div>
