<app-header></app-header>

<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-body">

            <form>
              <h1>Bejelentkezés</h1>
              <div class="input-group mb-3">
                  <span>
                  </span>
                <input
                  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email cím"/>
              </div>
              <div class="input-group mb-4">
                  <span>
                  </span>
                <input
                  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"

                  placeholder="Jelszó"
                  type="password"
                />
              </div>
              <div class="row">
                <div class="col-12"> @if (showError) {
                  <div class="alert alert-danger" role="alert">
                    Hibás email cím vagy jelszó!
                  </div>
                }
                  <button class="px-4 btn-primary" (click)="login()">
                    Bejelentkezés
                  </button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
