@if (currentBlog) {
  <div class="edit-form">
    <form>
      <div class="form-group mt-2">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentBlog.title" [ngModelOptions]="{standalone: true}"
          name="title"
        />
      </div>
      <div class="form-group mt-2">
      <label>Description</label>

      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" [ngModel]="currentBlog.description" [ngModelOptions]="{standalone: true}"></ngx-editor>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentBlog.published ? "Published" : "Pending" }}
      </div>
      </div>
    </form>

    @if (currentBlog.published) {
      <button class="badge badge-primary mr-2" (click)="updatePublished(false)">
        UnPublish
      </button>
    } @else {
      <button class="badge badge-primary mr-2" (click)="updatePublished(true)">
        Publish
      </button>
    }

    <button class="badge badge-danger mr-2" (click)="deleteBlog()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updateBlog()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
} @else {
  <div>
    <br/>
    <p>Cannot access this blog...</p>
  </div>
}
